:root {
  --fuente: 'Open Sans', sans-serif;
  --icons:#927BEF;
  --secondary-color: #7D7D7D;
  --black: #262626;
  --backgrond-white: #F4F4F4;
  --backgrond-black: #000000;
  --background-gray: #262626;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */  
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;  
}
body {
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 2;
  margin: 0;
}
/* GLOBALS */
img{
  width: 100%;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

